<h1>Here is your task description</h2>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<p><%= link_to "Back to all tasks", tasks_path %></p>

<p><%= link_to "Edit task", task_id_edit_path %></p>

