// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
}


.fas {
  color: #054F5E;
}

.far {
  color: #363732;
}

